.anime-card {
  display: flex;
  flex-direction: row;
  background-color: var(--color-black);
  color: var(--color-teagreen);
}

.anime-card--compact {
  border: 1px solid var(--color-iris);
  position: relative;
  width: 100%;
  padding: 5px;
  border-radius: 15px;
}

.anime-card--compact img {
  width: 10rem;
  height: 12rem;
  border-radius: 10px;
}

.anime-card__title {
  font-size: 16px;
  margin-left: 1rem;
}

.anime-card__compact-info {
  margin-left: 1rem;
  margin-top: 1rem;
}

.anime-card__compact-info strong {
  color: var(--color-iris);
}

.anime-card__actions {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.anime-card__btn {
  border-radius: 15px;
  padding: 5px 10px;
  font-weight: bold;
  transition: all 400ms ease-in-out;
  border: none;
}

.anime-card__btn--add {
  background-color: var(--color-iris);
  color: white;
}

.anime-card__btn--add:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: var(--color-cyan);
  color: var(--color-gunmetal);
}

.anime-card__btn--remove {
  background-color: var(--color-iris);
}

.anime-card__btn--remove:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: red;
}

.anime-card--detailed {
  padding: 20px;
  position: relative;
}

.anime-card--detailed img {
  border-radius: 10px;
}

.anime-card--detailed h2 {
  font-size: 25px;
}

.anime-card--detailed .anime-card__actions {
  bottom: 1rem;
  right: 1.5rem;
  margin-top: 10rem;
}

.anime-card__details {
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.anime-card__details ul {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.anime-card__details ul li {
  background-color: var(--color-teagreen);
  color: var(--color-black);
  font-weight: bold;
  font-family: var(--second-font);
  padding: 2px 5px;
  border-radius: 10px;
}

.anime-card__details strong {
  color: var(--color-iris);
}

.clickable:hover {
  border: 1px solid var(--color-cyan);
  background-color: var(--color-teagreen);
  color: var(--color-black);
  transition: all 400ms ease-in-out;
  cursor: pointer;
}
